<ul class="button-list">
  <li>
    <button tabindex="-1" (click)="buttonClicked()" [disabled]="disabled" appButton>Button with no theme</button>
  </li>
  <li>
    <button tabindex="-1" (click)="buttonClicked()" [disabled]="disabled" appButton color="primary">
      Button with the primary theme
    </button>
  </li>
  <li>
    <button tabindex="0" (click)="buttonClicked()" [disabled]="disabled" appButton color="accent">
      Button with accent theme
    </button>
  </li>
  <li>
    <button tabindex="1" (click)="buttonClicked()" [disabled]="disabled" appButton color="alert">
      Button with alert theme
    </button>
  </li>
</ul>